html {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
    max-width: 1400px;
}

header nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 249, 250);
}


header .search-bar input{
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding: 10px;
    color: rgb(108, 118, 125);
    width: 280px;
    margin-right: 5px;
}

header .search-bar .search-btn {
    border: 1px solid rgb(51, 166, 76);
    background-color: rgb(248, 249, 250);
    color: rgb(51, 166, 76);
    border-radius: 5px;
    width: 75px;
}

header .search-bar .search-btn:hover {
    background-color: rgb(51, 166, 76);
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

header  a {
    align-self: center;
    text-decoration: none;
    color: black;
}

main .hero {
    background:linear-gradient(0deg, rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('./images/hero background.jpg');
    height: 300px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

main .hero p {
    width: 40%;
    color: white;
    text-shadow: -1px -1px 2px black;
    letter-spacing: 0.5px;
}

main .hero h1 {
    margin: 0;
    color: white;
    text-shadow: -1px -1px 2px black;
}

main .hero a {
    text-decoration: none;
    background-color: rgb(0,87,216);
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    letter-spacing: 0.5px;
}

main .hero a:hover {
    background-color: white;
    color: rgb(0,87,216);
    transition: 0.3s;
    cursor: pointer;
}

main .favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 2px solid rgb(102, 102, 102);
    border-bottom: 2px solid rgb(102, 102, 102);
    padding-bottom: 30px;
}

main .favorites h2 {
    width: 100%;
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

main .movie-image{
width: 220px;
}

main .movie-image img {
    width: 100%;
}

main .movie-image img:hover {
    cursor: pointer;
}

main .search-page{
    margin: 0 50px;
    padding-bottom: 30px;
}

main .search-page h2{
    text-align: center;
}

main .search-page .search-bar {
    text-align: center;
    position: relative;
}


main .search-page .search-bar input{
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding: 10px;
    color: rgb(108, 118, 125);
    width: 280px;
    margin-right: 5px;
}

main .search-page .search-bar .search-btn {
    border: 1px solid rgb(51, 166, 76);
    background-color: rgb(248, 249, 250);
    color: rgb(51, 166, 76);
    border-radius: 5px;
    width: 75px;
}

main .search-page .search-bar .search-btn:hover {
    background-color: rgb(51, 166, 76);
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

main .search-page .movie {
    display: flex;
    padding: 10px 0;
}


main .search-page .img-container {
    width: 220px;
}

main .search-page .img-container img {
    width: 100%;
}

main .search-page .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding: 0 20px;
    margin: 15px 0;
}

main .search-page .movie-title{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

main .search-page .duration , main .genre {
    display: inline-block;
}

main .search-page .genre {
    border-right: 1px solid black;
    padding-right: 8px;
    margin-right: 8px;
}

main .search-page .official-site {
    display: block;
}

main .search-page .add-to-favorites {
    background: none;
    border: 1px solid rgb(51, 166, 76);
    color: rgb(51, 166, 76);
    border-radius: 5px;
    padding: 10px 41px;
    font-size: 18px;
    border-radius: 7px;
}

main .search-page .add-to-favorites:hover{
    background-color: rgb(51, 166, 76);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

main .search-page .search-btn {
    margin-top: 15px;
}

main .search-page .remove-from-favorites {
    background: none;
    border: 1px solid rgb(204, 0, 0);
    color: rgb(204, 0, 0);
    border-radius: 5px;
    padding: 10px 41px;
    font-size: 18px;
    border-radius: 7px;
}

main .search-page .remove-from-favorites:hover {
    background-color: rgb(204, 0, 0);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

main .details-page {
    margin: 0 50px;
    padding-bottom: 30px;
}

main .details-page .movie {
    display: flex;
    padding: 10px 0;
}


main .details-page .img-container {
    width: 220px;
}

main .details-page .img-container img {
    width: 100%;
}

main .details-page .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding: 0 20px;
    margin: 15px 0;
}

main .details-page .movie-title{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

main .details-page .duration , main .genre {
    display: inline-block;
}

main .details-page .genre {
    border-right: 1px solid black;
    padding-right: 8px;
    margin-right: 8px;
}

main .details-page .official-site {
    display: block;
}

main .details-page .add-to-favorites {
    background: none;
    border: 1px solid rgb(51, 166, 76);
    color: rgb(51, 166, 76);
    border-radius: 5px;
    padding: 10px 41px;
    font-size: 18px;
    border-radius: 7px;
}

main .details-page .add-to-favorites:hover{
    background-color: rgb(51, 166, 76);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

main .details-page .remove-from-favorites {
    background: none;
    border: 1px solid rgb(204, 0, 0);
    color: rgb(204, 0, 0);
    border-radius: 5px;
    padding: 10px 41px;
    font-size: 18px;
    border-radius: 7px;
}

main .details-page .remove-from-favorites:hover {
    background-color: rgb(204, 0, 0);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

main .details-page textarea {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding-top: 12px;
    padding-left: 9px;
}

